<div class="col text-center">
      
       <div class="card shadow-sm  text-center">
        <div class="row">
            <div class="col" style="width: 120px; height: 75px;">
                <img src={{country.flags.svg}}  width="120px" height="75px" alt="...">
             </div>
           </div>
        <div class="card-body text-center">
        <h5 class="card-title text-center fw-bold">{{country.name.common}}</h5>
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col fw-bold">
              Capital
            </div>
            <div class="col fw-bold">
              Population
            </div>
            <div class="col fw-bold">
              Area
            </div>
          </div>
          <div class="row align-items-start">
            <div class="col text-truncate">
              {{country.capital[0]}}
            </div>
            <div class="col">
              {{country.population}}
            </div>
            <div class="col">
              {{country.area}}
            </div>
          </div>
        </div>
        <br>
        <a href="#" class="btn btn-primary" (click)="getCountryByName(country.name.common)">Ver detalles</a>
      </div>
    </div>
</div>